<h1>All animals</h1>

<% @animals.each do |animal| %>
  <p>Name: <%= animal.name %></p>
  <p>Type: <%= animal.type %></p>
  <p>Admission date: <%= animal.admission_date %></p>
  <p>Availability: 
    <% if animal.availability == 't' %>
      Can be adopted
    <% else %> 
      Cannot be adopted
  <% end %>
  </p>
  <hr/>
<% end %>