<h1>All adoptions</h1>

<% @adoptions.each do |adoption| %>
  <p>Animal: <%= adoption.animal.name %> the <%= adoption.animal.type %></p>
  <p>New Owner: <%= adoption.owner.name %></p>
  <hr/>
<% end %>