<!DOCTYPE html>
<html>
  <head>
    <title>Animal Shelter</title>
    <link rel="icon" href="/images/shelter_icon.png"/>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="/">
            <img src="/images/shelter_icon.png" style="width:75px;,height:75px;"/>
          </a>
        </li>
        <li>
          <a class="header_link" href="/animals">Animals</a>
        </li>
        <li>
          <a class="header_link" href="/owners">Owners</a>
        </li>
        <li>
          <a class="header_link" href="/adoptions">Adoptions</a>
        </li>
      </ul>
    </nav>
    <section id="content">
    <%= yield %>
    </section>
  </body>
</html>