<h1>Register a potential owner</h1>

<form method="post" action="/owners">
<label for="owner-name">Name:</label>
<input id="owner-name" type="text" name="name" />
<br/>
<br/>

<input type="submit" value="Register" />
</form>